@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply flex justify-between items-center fixed w-full h-[50px] top-0 shadow-sm bg-white z-50;
}

.navbar__logo {
  @apply text-blue-800 text-lg font-semibold cursor-pointer px-[18px] py-0;
}

.navbar__button {
  @apply hidden cursor-pointer;
}

.navbar__list {
  @apply flex gap-3 items-center px-[18px] py-0 text-sm;
}

.navbar__list--item {
  @apply cursor-pointer;
}

.navbar__list--item:hover {
  @apply text-gray-600;
}

.layout {
  @apply pt-[50px] pb-[50px];
}

.map {
  height: var(--window-height);
}

.half-map {
  height: calc(var(--window-height) / 2);
}
/* 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(221, 221, 221);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 7px;
} */

@media only screen and (max-width: 600px) {
  .navbar--mobile {
    @apply w-full h-fit fixed top-[50px] bg-blue-800 text-white;
  }

  .navbar__list {
    @apply hidden;
  }

  .navbar__button {
    @apply block px-[18px] py-0;
  }

  .navbar__list--mobile {
    @apply w-full h-fit flex flex-col justify-center align-baseline px-[20px] py-0;
  }

  .navbar__list--item--mobile {
    @apply flex w-full h-1/2 align-middle py-[15px] px-0 cursor-pointer;
  }

  .navbar__list--item--mobile:hover {
    @apply text-black;
  }
}

.infoWindow {
  @apply bg-blue-900 text-white block text-sm text-center h-6 rounded-sm px-2 leading-6;
}
